@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f8f9fd;
  font-family: 'Roboto', sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  align-items: start;
  justify-content: center;
  overflow: hidden;
}

.search__box {
  width: 900px;
  overflow: hidden;

  border-radius: 5px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.search__box--header {
  padding: 30px 20px;
  
  color: #fff;
  background-color: #3e57db;
}

.search__box--subtitle {
  display: block;
  margin: 5px 0 20px;
  opacity: 0.8;
}

.search__box--input {
  width: 100%;
  padding: 10px 15px;

  font-size: 18px;
  color: #fff;

  border: 0;
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.3);
}

.search__box--input::placeholder {
  color: #f8f9fd;
}

.search__box--input:focus {
  outline: none;
}

.search__box--users {
  max-height: 500px;
  overflow: auto;

  list-style-type: none;
  background-color: #fff;
}

.user{
  display: flex;
  padding: 20px;
}

.user:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.users__info {
  margin-left: 10px;
}

.users__info h4 {
  margin: 0 0 10px;
}

.users__info p {
  font-size: 14px;
}


