@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  padding: 25px;
}

.container {
  width: 500px;
}

.title {
  text-align: center;
  text-transform: uppercase;
}

.title h1 {
  margin-bottom: 25px;
}

.underline {
  width: 50px;
  height: 5px;
  margin: 0 auto;

  background: red;
}

.review {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  margin-top: 40px;

  border-radius: 5px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

.review__img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

#review__img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.review__author {
  margin: 10px 0;
}

.review__job {
  position: relative;
  margin-bottom: 15px;

  /* color:red; */
  text-transform: uppercase;
}

.review__job::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;

  background-color: red;
}

.review__info {
  width: 400px;

  text-align: center;
  opacity: 0.8;
}

.review__btn {
  margin-top: 20px;
}

.btn {
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;

  border: 0;
  border-radius: 5px;
}