* {
  margin: 0;
  padding: 0;

  font-family: "poppins", sans-serif;
  box-sizing: border-box;
}

.container {
  position: relative;
  min-height: 100vh;
  width: 100%;
  z-index: 10;

  background-color: #F5F5F5;
  color: #000;

  transition: background 0.5s linear;
}

.container.dark {
  background: #1d2026;
  color: #fff;
}

.container.dark .nav__menu--item a {
  color: #fff;
}

.nav {
  display: flex;
  align-items: center;
  padding: 20px 8%;
}

.nav__logo {
  width: 200px;
  margin-right: 50px;

  font-size: 35px;
  font-weight: 900;

  cursor: pointer;
}

.container.dark .nav__logo--span1 {
  color: #fff;
}

.nav__logo--span2 {
  color: #00986f;
}

.nav__menu {
  flex: 1;
  text-align: right;
}

.nav__menu--item {
  margin: 0 20px;
  display: inline-block;

  list-style-type: none;
  text-transform: uppercase;
  font-weight: 600;
}

.nav__menu--item a {
  text-decoration: none;
  color: #000;
}

.switcher {
  position: relative;
  background-color: #111;
  height: 26px;
  width: 50px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: 20px;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.fa-moon {
  color: #f1c40f
}

.fa-sun {
  color: #f39c12;
}

.ball {
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;

  background-color: #fff;
  border-radius: 50%;

  transition: transform 0.2s linear;
}

.ball.check {
  transform: translateX(24px);
}

.lamp__container {
  position: absolute;
  top: -150px;
  left: 25%;
  width: 200px;
  z-index: 1;
}

.lamp {
  width: 100%;
}

.light {
  position: absolute;
  top: 97%;
  left: 50%;
  width: 700px;
  margin-left: -10px;
  opacity: 0;
  transition: opacity 0.5s linear;

  transform: translateX(-50%);
}

.chain__container {
  position: absolute;
  top: 0;
  right: 50px;
}

.light.on {
  opacity: 1;
}
