/* main */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;

  font-family: 'Roboto', sans-serif;
  background-color: #faebd7;
}

ul li {
  list-style-type: none;
}

/* container */
.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

/* filter */
.filter {
  height: 100vh;
  width: 100%;
}

/* filter__nav */
.filter__nav {
  padding: 10px 20px;
  margin-bottom: 100px;
}

.filter__nav ul {
  display: flex;
  justify-content: center;
}

.filter__nav ul li {
  padding: 12px 24px;
  margin-left: 15px;
  cursor: pointer;

  color: #fff;
  text-transform: uppercase;
  font-weight: 700;

  border-radius: 5px;
}

.filter__nav ul li:first-child {
  margin-left: 0;
}

.li__all {
  background-color: #2ecc71;
}

.li__bird {
  background-color: #f1c40f;
}

.li__dog {
  background-color: #e74c31;
}

.li__cat {
  background-color: #8e44ad;
}


/* filter__content */

