// VARIABLES
$primary: #141c2f;
$secondary: #1f2a48;
$btn: #0275f3;
$white: #fff;
$placeholder: #858da4;
$small-text: #a5afc4;

// MAIN STYLES
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: $primary;

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: $white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;

  color: #000;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

// MAIN
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__form {
    max-width: 600px;
    width: 100%;
  }

  &__card {
    max-width: 600px;
    width: 100%;
    margin-top: 25px;

    background: $secondary;
    border-radius: 7px;
  }
}

// FORM
.form {
  display: flex;
  align-items: center;
  position: relative;

  &__input {
    width: 100%;
    padding: 25px 35px 25px 60px;

    background: $secondary;
    border-radius: 7px;
    border: 0;
    outline: 0;

    font-size: 18px;
    color: $placeholder;

    &::placeholder {
      color: $placeholder;
    }
  }

  &__icon {
    position: absolute;
    left: 20px;
    color: $btn;
  }

  &__button {
    display: inline-block;
    margin-left: -93px;
    padding: 15px 20px;

    border: 0;
    outline: 0;
    background: $btn;
    border-radius: 7px;

    color: $white;

    cursor: pointer;

    &:hover {
      background: lighten($btn, 6);
    }
  }
}

// CARD {
.card {
  display: flex;
  margin-top: 25px;
  padding: 20px;
}

.card__avatar {
  width: 150px;
  height: auto;

  &--img {
    width: 100%;

    border-radius: 50%;
  }
}
